*{
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    margin: 0px;
    padding: 0px;

}
/* Start of Styling for the header */
.header{
    display: flex;
    background-color: #4c1d95;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    margin-left: 3rem;
    margin-right: auto;
    color: #ddd6fe;

}

.header .login {
    margin-left: auto;
    margin-right: 3rem;
    color: #4c1d95;
    background-color: #ddd6fe;
    border-color: #4c1d95;
    border-width: 3px;
    border-radius: 8px;
    padding: 8px;
    width: 80px;
}

.header .login:hover{
    cursor: pointer;
    background-color: #4c1d95;
    color: #ddd6fe;
    border-color: #ddd6fe
}
/* End of Styling for the header */


/* Start of the styling for the main content of the library */
.main-content {
    background: linear-gradient(0deg,#a78bfa,#4c1d95);
    height: 85vh;
}

.main-content .add-book{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
 .add-book .bk-btn {
    color: #4c1d95;
    background-color: #ddd6fe;
    border-color: #4c1d95;
    border-width: 3px;
    border-radius: 8px;
    padding: 8px;
    width: 80px;
 }

 .bk-btn:hover {
    cursor: pointer;
    background-color: #4c1d95;
    color: #ddd6fe;
    border-color: #ddd6fe
 }
/* Begin Styling Popup Form */

.add-book-form {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #a78bfa;
    width: 300px;
    height: 386px;
    margin: auto;
    justify-content: space-evenly;
    border-radius: 8px;
    color: #4c1d95;
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transition: top 0ms ease-in-out 200ms, 
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.active {
    opacity: 1;
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms, 
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms; 
}

.add-book-form .close-btn {
    position: absolute;
    top: 10px;
    right: 18px;
}

.add-book-form .close-btn:hover {
    cursor: pointer;
    color: #efecfa;
}

.add-book-form h3 {
    text-align: center;
}

.book-info, .sub-button {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
    
}

.book-info input {
    padding: 10px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: #efecfa;
    color: #4c1d95;
}

.checkbox {
    accent-color: #4c1d95;
}

.have-read {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.have-read input {
    align-items: center;

}

.submit-book {
    font-size: larger;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #4c1d95;
    color: #efecfa;
}

.submit-book:hover {
    cursor: pointer;
    border: 2px;
    outline: auto;
    outline-style: inset;
    background-color: #a78bfa;
    color: #4c1d95;
    border-width: 2px;
    border-color: #4c1d95;
}

 /* End of styling popup form */
 .book-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 200px;
    margin-right: 200px;
    gap: 20px;
 }

 .new-book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e2dcfa;
    max-width: 360px;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    border-radius: 10px;
    border-color: #4c1d95;
    border-style: inset;
    box-shadow: 0 0 15px #e2dcfa;
    color: #4c1d95;
    text-shadow: 0 0 3px #a78bfa;
 }

 .new-book .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
 }

 .book-read, .remove-book{
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border-color: #4c1d95;
    color: #4c1d95;
 }

 .book-read:hover, .remove-book:hover {
    cursor: pointer;
    background-color: #4c1d95;
    color: #e2dcfa;
 }
 
 .book-read{
    margin-bottom: 5px;
 }




 /* End of the styling for main content */

/* Footer Styling */
 .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a78bfa;
    color: #e2dcfa;
 }